.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}


.radio-group-label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.spaced-block {
    margin-bottom: 16px;
}